
 <!-- views/partials/dashboardNav.ejs    Navbar for Daswhboard-->

 <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="/employees/me">EZServices</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
      data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
   

    <ul class="nav  ml-auto top-nav ">
     <li class="nav-item "><a class="nav-link" href="/employees/me"><i class="fa fa-user" ></i><%=employee.username %></a></li>
      <li class="nav-item "><a class="nav-link" href="/employees/logout"><i class="fa fa-sign-out-alt" ></i>Sign out </a></li>
    </ul>
  </nav>
 
 