<!-- views/partials/footer -->
<!-- FOOTER -->
 <footer class="footer mt-auto py-3 bg-dark">
     <div class="container bg-dark ">
       <span class="">&copy;EZServices, 2020</span>
     </div>
 </footer>