    <!-- views/partials/nav.ejs    navbar-->
    <nav class="navbar navbar-expand-sm  bg-dark navbar-dark sticky-top shadow">
        <!-- <div class=" container container-color"> -->
        <!-- <div class=" container "> -->
            <a class="navbar-brand brand" href="/">EZServices</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item "><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item "><a class="nav-link" href="#">About</a></li>
                    <li class="nav-item "><a class="nav-link" href="#services">Services</a></li>
                    <li class="nav-item "><a class="nav-link" href="#">Contact Us</a></li>
                    <!-- Button trigger modal -->

                        <li class="nav-item btn-warning"><a class="nav-link btn-login" id="login" href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
                        <li class="nav-item btn-warning"><a class="nav-link btn-login" id="register" href="#" data-toggle="modal" data-target="#register-modal">Register</a></li>                    

                </ul>
            </div>
        <!-- </div> -->
    </nav> 