<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="sidebar-sticky pt-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="/users/me"><i class="fa fa-user-circle"></i>My Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/service"><i class="fa fa-calendar-alt"></i>Book Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-calendar-check"></i>My bookings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-info-circle"></i>Status</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-user-edit"></i>Update Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/logoutAll"><i class="fa fa-sign-out-alt"></i>LogOut-All Devices</a>
        </li>
      </ul>
    </div>
  </nav>